name: Test CD dummyDB Push and Pull Request
on: 
    release
jobs:
    ci:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - run: make
            - run: make test


    deploy:
        runs-on: ubuntu-latest
        steps:
            - run: g++ -o mainBinaryFile main.cpp
            