name: Test CD dummyDB Push and Pull Request
on: 
    release:
        types: created

permissions:
    contents:
        write

jobs:
    ci:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Run
              run: |
                make
                make test
                make release
    cd:
        runs-on: ubuntu-latest
        steps:
            - name: Release
              uses: softprops/action-gh-release@v2
              with:
                files: |
                  LICENSE
                  ./build/main