name: Test CD dummyDB Push and Pull Request
on: 
    release:
        types: created

jobs:
    ci:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Run
              run: |
                make
                make test
                make release
            - name: Release
              uses: softprops/actions-gh-realease@v2
              with:
                files: |
                    LICENSE
                    ./build/main