name: Test CI dummyDB Push and Pull Request

on:
  push:
    branches:
      - main
  pull_request:
      branches:
        - main

jobs:
  test:
    runs-on: ubuntu-latest # OS on which to run the code (ubuntu is the most common)
    steps:
      - uses: actions/checkout@v6
      - run: make
      - run: make test
